@font-face {
  font-family: "Lato-Bold";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./assets/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

body,
div,
section,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0;
  box-sizing: padding-box;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

header {
  position: -webkit-sticky;
  position: sticky;
  padding: 0 40px;
  width: 100%;
  top: 0px;
  z-index: 50;
  height: 95px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  box-sizing: border-box;
}

.toggle {
  display: none;
}

.toggle_container {
  display: none;
  position: absolute;
  left: 20px;
  top: 26px;
  width: 25px;
  height: 20px;
  background: url("./assets/images/burger-menu.png");
  z-index: 60;
}

.main_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.main_navigation--logo {
  font-family: "Lato-Bold";
  font-size: 24px;
  color: #ffffff;
}

.main_navigation--logo span {
  font-family: inherit;
  color: #e36861;
}

.main_navigation--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  margin-top: 10px;
  list-style: none;
}

.main_navigation--item {
  font-family: "Lato-Bold";
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.main_navigation--item-circle {
  position: relative;
}

.main_navigation--item-circle::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  position: absolute;
  left: -15px;
  top: 7px;
  border-radius: 50%;
  background-color: #494e62;
}

.main_navigation--link {
  text-decoration: none;
  color: #ffffff;
}

.main_navigation--link:hover {
  color: #f06c64;
}

.main_navigation--link-active {
  color: #f06c64;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider--list {
  position: relative;
  display: flex;
  transition: margin-left 1.5s;
}

.slider--item {
  width: 1020px;
  height: 600px;
  box-sizing: border-box;
  border-bottom: 6px;
}

.slider--item1 {
  padding: 0 110px;
  border-bottom: 6px solid #ea676b;
}

.slider--arrow {
  position: absolute;
  z-index: 20;
}

.slider--arrow_left {
  left: 40px;
}

.slider--arrow_right {
  right: 40px;
}

.slider--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
}

.slider--item2 {
  justify-content: center;
  background-color: #648bf0;
  border-bottom-width: 6px solid #648bf0;
}

.slider--item1 {
  background-color: #f06c64;
}

.slider--item1_image1 {
  margin-top: 1px;
  margin-left: 3px;
}

.slider--item1_image2 {
  margin-right: 2px;
}

.slider--arrow:hover {
  background-color: #d34309;
}

.services {
  position: relative;
  padding: 60px 40px 21px 41px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services--header {
  font-family: "Lato-Black";
  font-size: 30px;
  color: #666d89;
}

.services--text {
  margin-top: 18px;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.services--grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 32px 0;
  margin: 43px 0px 40px 0px;
  padding: 0;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 92px 92px;
      grid-template-rows: 92px 92px;
  justify-content: space-between;
}

.services--item {
  position: relative;
  padding: 0 0 0 80px;
  overflow: hidden;
}

.services--item::before {
  position: absolute;
  top: 5px;
  left: 0px;
}

.services--item:nth-child(1):before {
  content: url("./assets/images/services-icon1.png");
}

.services--item:nth-child(2):before {
  content: url("./assets/images/services-icon2.png");
}

.services--item:nth-child(3):before {
  content: url("./assets/images/services-icon3.png");
}

.services--item:nth-child(4):before {
  content: url("./assets/images/services-icon4.png");
}

.services--item:nth-child(5):before {
  content: url("./assets/images/services-icon5.png");
}

.services--item:nth-child(6):before {
  content: url("./assets/images/services-icon6.png");
}

.services--item_header {
  margin-top: 1px;
  font-family: "Lato-Black";
  font-size: 18px;
  color: #666d89;
}

.services--item_text {
  margin-top: 8px;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #878da9;
}

.portfolio {
  position: relative;
  padding: 60px 40px 68px 40px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.portfolio--title {
  font-family: "Lato-Black";
  font-size: 30px;
  color: #666d89;
}

.portfolio--text {
  margin-top: 17px;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 30px;
  color: #636983;
}

.portfolio--filter {
  margin-top: 12px;
  margin-left: 1px;
}

.portfolio--samples {
  display: -ms-grid;
  display: grid;
  margin-top: 18px;
  -ms-grid-columns: 220px 220px 220px 220px;
      grid-template-columns: 220px 220px 220px 220px;
  -ms-grid-rows: 187px 187px 187px;
      grid-template-rows: 187px 187px 187px;
  grid-gap: 20px 20px;
}

.portfolio--samples_item-active {
  outline: 5px solid #bfdf0dcc;
}

.portfolio--samples_item:nth-child(n+13) {
  display: none;
}

.filter {
  width: 288px;
  display: flex;
  justify-content: space-between;
}

.filter--item {
  padding: 6px;
  border: 1px solid #666d89;
  border-radius: 5px;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 8px;
  list-style: none;
  text-decoration: none;
  color: #767e9e;
}

.filter--item-active,
.filter--item:hover {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.about {
  position: relative;
  padding: 60px 40px 62px 40px;
  border-bottom: 6px solid #ffffff;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.about--title {
  font-family: "Lato-Black";
  font-size: 30px;
  color: #666d89;
}

.about--text {
  margin-top: 18px;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.about--team {
  margin-top: 43px;
}

.team {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.team--item {
  width: 300px;
  overflow: hidden;
}

.team--item_title {
  height: 18px;
  overflow: hidden;
  margin-top: 12px;
  font-family: "Lato-Black";
  font-size: 18px;
  color: #666d89;
}

.team--item_text {
  height: 55px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;
}

.team--media {
  margin-top: 13px;
}

.media--item:nth-child(n+2) {
  margin-left: 4px;
}

.media--image:hover {
  transform: scale(1.2);
}

.quote {
  position: relative;
  box-sizing: border-box;
  padding: 59px 37px 57px 40px;
  border-bottom: 6px solid #ea676b;
  background: #f06c64;
}

.quote--title {
  font-family: "Lato-Black";
  font-size: 30px;
  color: #f0d8d9;
}

.quote--text {
  margin-top: 18px;
  margin-right: 2px;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
}

.quote--flex_box {
  display: flex;
  justify-content: space-between;
}

.quote--form {
  display: inline-block;
  margin-top: 44px;
}

.quote--contact {
  display: inline-block;
  margin-top: 43px;
}

.quote_form {
  display: flex;
  flex-direction: column;
  width: 619px;
}

.quote_form--input {
  height: 38px;
  padding-left: 14px;
  background-color: #d6564f;
  border: 0px solid transparent;
  border-radius: 5px;
  font-family: "Lato-Regular";
  font-size: 12px;
  box-sizing: border-box;
}

.quote_form--input::-webkit-input-placeholder {
  color: #f48c8f;
}

.quote_form--input:-ms-input-placeholder {
  color: #f48c8f;
}

.quote_form--input::-ms-input-placeholder {
  color: #f48c8f;
}

.quote_form--input::placeholder {
  color: #f48c8f;
}

.quote_form--input:not(:nth-child(1)) {
  margin-top: 16px;
}

.quote_form--input-large {
  box-sizing: border-box;
  resize: none;
  height: 159px;
  text-align: start;
  padding-top: 8px;
}

.quote_form--input:invalid {
  background-color: #d6564f;
}

.quote_form--button {
  width: 136px;
  height: 38px;
  margin-top: 15px;
  border: 0px solid transparent;
  font-family: 'Lato-Bold';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #886A30;
  background: #FBC65F;
  border-radius: 5px;
}

.quote_form--button:hover {
  background-color: #9b5b57;
}

.contact {
  width: 303px;
}

.contact--title {
  font-family: "Lato-Black";
  font-size: 18px;
  color: #f0d8d9;
  letter-spacing: 0.1px;
}

.contact--text {
  margin-top: 8px;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  text-align: justify;
}

.contact--list {
  margin-top: 21px;
  margin-left: 23px;
  list-style: none;
}

.contact--item {
  position: relative;
  margin-bottom: 4px;
}

.contact--item:not(:nth-child(1)) {
  margin-top: 3px;
}

.contact--item::before {
  position: absolute;
}

.contact--item:nth-child(1)::before {
  content: url("./assets/images/quote-location.png");
  top: 1px;
  left: -20px;
}

.contact--item:nth-child(2)::before {
  content: url("./assets/images/quote-phone.png");
  top: 1px;
  left: -22px;
}

.contact--item:nth-child(3)::before {
  content: url("./assets/images/quote-mail.png");
  top: 0px;
  left: -23px;
}

.contact--link {
  font-family: "Lato-Regular";
  font-size: 12px;
  text-decoration: none;
  color: #f0d8d9;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 22px 40px 18px 42px;
  background: #2d303a;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.footer--right {
  margin-top: 8px;
  text-decoration: none;
  font-family: "Lato-Black";
  font-size: 13px;
  color: #626984;
}

.footer--media_item:nth-child(n+2) {
  margin-left: 4px;
}

.media--image:hover {
  transform: scale(1.2);
}

.nav_anchor {
  position: absolute;
  top: -93px;
}

.popUp {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 24px;
  width: 100%;
  height: 100%;
  background: #ECF5E4;
  opacity: 0.85;
  z-index: 50;
}

.popUp--message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 40%;
  min-height: 40%;
  padding: 10px;
  background: #81dd09;
}

.popUp--message::first-line {
  text-align: center;
  font-weight: 800;
}

.popUp--message_button {
  width: 30%;
  -ms-grid-row-align: center;
      align-self: center;
}

@media all and (min-width: 1020px) {
  .slider--item1_image1 {
    margin-bottom: 4px;
  }
  .slider--item1_image2 {
    margin-right: 1px;
  }
}

@media all and (max-width: 1023px) and (min-width: 0px) {
  .wrapper {
    width: 100vw;
  }
  .slider--item {
    width: 100vw;
    height: 58.789vw;
    border-bottom-width: 0.58vw;
  }
  .slider--item1 {
    padding-left: 10.4vw;
    padding-right: 10.4vw;
  }
  .slider--item1_image1 {
    width: 23.55vw;
    margin-bottom: 0.5vw;
  }
  .slider--item1_image2 {
    width: 47.42vw;
    margin-bottom: 0vw;
    margin-right: 0.7vw;
  }
  .slider--item2_image {
    width: 40.55vw;
  }
  .slider--arrow_left {
    left: 3.53vw;
  }
  .slider--arrow_right {
    right: 3.53vw;
  }
  .portfolio--samples {
    margin-top: 28px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2.54vw;
  }
  .portfolio--samples_item {
    width: 28.15vw;
    height: 23.93vw;
  }
  .services {
    padding-top: 5.08vw;
    padding-bottom: 4vw;
  }
  .services--grid {
    margin-top: 4.45vw;
    margin-right: 4.43vw;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
    -ms-grid-rows: 92px 92px 92px;
        grid-template-rows: 92px 92px 92px;
    grid-gap: 6.8vw 0;
    justify-content: space-between;
  }
  .about {
    padding-top: 6.77vw;
    padding-bottom: 8.8vw;
  }
  .about--team {
    margin-top: 4.9vw;
  }
  .team--item {
    width: 28.508vw;
  }
  .team--item_image {
    width: 28.508vw;
  }
  .team--item_title {
    margin-top: 0.9vw;
  }
  .team--item_text {
    margin-top: 0.5vw;
    height: 9.11vw;
  }
  .team--media {
    margin-top: 0.5vw;
  }
  .quote {
    padding-top: 6.95vw;
    padding-bottom: 5.2vw;
  }
  .quote--contact {
    width: 38vw;
    margin-top: 3vw;
  }
  .quote_form {
    margin-top: 3.15vw;
  }
  .quote_form--input {
    padding-left: 1vw;
    width: 315px;
  }
  .quote_form--input:not(:nth-child(1)) {
    margin-top: 1.563vw;
  }
  .quote_form--button {
    margin-top: 2.2vw;
  }
  .contact--text {
    margin-top: 0vw;
  }
  .contact--list {
    margin-top: 1.5vw;
  }
}

@media all and (max-width: 767px) and (min-width: 0px) {
  .wrapper {
    width: 100vw;
  }
  header {
    height: 71px;
    padding: 0;
    border-width: 0;
  }
  .main_navigation {
    height: 100%;
    justify-content: center;
  }
  .main_navigation--logo {
    margin-left: 4vw;
    font-size: 19.6875px;
    line-height: 24px;
    letter-spacing: -0.03em;
  }
  .main_navigation--list {
    display: none;
  }
  .main_navigation--item::before {
    display: none;
  }
  .toggle_container {
    display: block;
  }
  .toggle:checked + .toggle_container {
    transform: rotate(90deg);
  }
  .toggle:checked ~ .main_navigation {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 24px;
    padding-left: 71px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 278px;
    height: 100vh;
    box-sizing: border-box;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }
  .toggle:checked ~ .main_navigation .main_navigation--list {
    display: flex;
    margin-top: 30vh;
    min-width: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle:checked ~ .main_navigation .main_navigation--item {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
  }
  .slider--item {
    width: 100vw;
    height: 58.789vw;
    border-bottom-width: 0.58vw;
  }
  .slider--item1 {
    padding-left: 10.4vw;
    padding-right: 10.4vw;
  }
  .slider--item1_image1 {
    width: 23.55vw;
    margin-bottom: 0.5vw;
  }
  .slider--item1_image2 {
    width: 47.42vw;
    margin-bottom: 0vw;
    margin-right: 0.7vw;
  }
  .slider--item2_image {
    width: 40.55vw;
  }
  .slider--arrow_left {
    left: 2.2vw;
  }
  .slider--arrow_right {
    right: 2.2vw;
  }
  .services {
    padding: 6.67vw 8.27vw 4.83vw 8.27vw;
  }
  .services--grid {
    margin-top: 6.69vw;
    margin-bottom: 0;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    grid-gap: 7.3vw 0;
    justify-content: center;
  }
  .services--item {
    height: 97px;
    box-sizing: border-box;
  }
  .services--item:nth-child(5) {
    margin-top: -5px;
  }
  .services--item:nth-child(6) {
    margin-top: -5px;
  }
  .portfolio {
    padding: 11.2vw 8vw;
    padding-bottom: 10vw;
  }
  .portfolio--filter {
    margin-top: 5vw;
  }
  .portfolio--samples {
    margin-top: 6vw;
    justify-content: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3.7vw 3.46vw;
  }
  .portfolio--samples_item {
    width: 40.27vw;
    height: 34.15vw;
  }
  .portfolio--samples_item:nth-child(n+9) {
    display: none;
  }
  .about {
    padding: 8.5vw 8vw;
    padding-bottom: 1.1vw;
  }
  .about--team {
    margin-top: 6.5vw;
  }
  .team {
    flex-direction: column;
  }
  .team--item {
    margin-bottom: 9.2vw;
    width: 100%;
    height: 117.33vw;
  }
  .team--item_image {
    width: 83.73vw;
  }
  .team--item_title {
    margin-top: 3.2vw;
  }
  .team--item_text {
    margin-top: 1vw;
    height: auto;
  }
  .team--media {
    margin-top: 2.6vw;
  }
  .quote {
    padding: 12vw 8vw;
    padding-bottom: 7.8vw;
  }
  .quote--flex_box {
    flex-direction: column;
    align-items: center;
  }
  .quote--form {
    margin-top: 5.8vw;
  }
  .quote--contact {
    margin-top: 8vw;
  }
  .quote_form {
    width: 84vw;
  }
  .quote_form--input {
    margin-bottom: 1.7vw;
    padding-left: 2vw;
    width: 100%;
  }
  .quote_form--button {
    margin-top: 2vw;
    width: 315px;
    height: 50px;
  }
  .contact {
    width: 100%;
  }
  .contact--list {
    margin-top: 3.15vw;
  }
  .contact--item {
    margin-bottom: 2vw;
  }
  .contact--item:nth-child(n)::before {
    top: 2.2px;
  }
  .contact--item:nth-child(3)::before {
    top: 1px;
  }
  .footer {
    justify-content: center;
  }
  .footer--right {
    display: none;
  }
}

@media all and (max-width: 374px) and (min-width: 0) {
  .wrapper {
    width: 375px;
  }
  .slider--item {
    width: 375px;
    height: 220.46px;
    border-bottom-width: 0.58vw;
  }
  .slider--item1 {
    padding-left: 39px;
    padding-right: 39px;
  }
  .slider--item1_image1 {
    width: 88.313px;
    margin-bottom: 18.75px;
  }
  .slider--item1_image2 {
    width: 177.83px;
    margin-bottom: 0;
    margin-right: 2.63px;
  }
  .slider--item2_image {
    width: 152.06px;
  }
  .slider--arrow_left {
    left: 8.25px;
  }
  .slider--arrow_right {
    right: 8.25px;
  }
  .services {
    padding: 25.01px 31.01px 18.11px 31.01px;
  }
  .services--grid {
    margin-top: 25.09px;
    margin-bottom: 0;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    grid-gap: 27.38px 0;
    justify-content: center;
  }
  .services--item {
    height: 97px;
    box-sizing: border-box;
  }
  .services--item:nth-child(5) {
    margin-top: -5px;
  }
  .services--item:nth-child(6) {
    margin-top: -5px;
  }
  .portfolio {
    padding: 42px 30px;
    padding-bottom: 37.5px;
  }
  .portfolio--filter {
    margin-top: 18.75px;
  }
  .portfolio--samples {
    margin-top: 22.5px;
    justify-content: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 13.875px 12.975px;
  }
  .portfolio--samples_item {
    width: 151.01px;
    height: 128.06px;
  }
  .portfolio--samples_item:nth-child(n+9) {
    display: none;
  }
  .about {
    padding: 31.875px 30px;
    padding-bottom: 4.125px;
  }
  .about--team {
    margin-top: 24.375px;
  }
  .team {
    flex-direction: column;
  }
  .team--item {
    margin-bottom: 34.5px;
    width: 314px;
    height: 440px;
  }
  .team--item_image {
    width: 314px;
  }
  .team--item_title {
    margin-top: 12px;
  }
  .team--item_text {
    margin-top: 3.75px;
    height: auto;
  }
  .team--media {
    margin-top: 9.75px;
  }
  .quote {
    padding: 45px 30px;
    padding-bottom: 29.25px;
  }
  .quote--flex_box {
    flex-direction: column;
    align-items: center;
  }
  .quote--form {
    margin-top: 21.75px;
  }
  .quote--contact {
    margin-top: 30px;
  }
  .quote_form {
    width: 315px;
  }
  .quote_form--input {
    margin-bottom: 6.375px;
    padding-left: 7.5px;
    width: 315px;
  }
  .quote_form--button {
    margin-top: 7.5px;
    width: 315px;
    height: 50px;
  }
  .contact {
    width: 315px;
  }
  .contact--list {
    margin-top: 11.8px;
  }
  .contact--item {
    margin-bottom: 7.5px;
  }
  .contact--item:nth-child(n)::before {
    top: 2.2px;
  }
  .contact--item:nth-child(3)::before {
    top: 1px;
  }
  .footer {
    justify-content: center;
  }
  .footer--right {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */